@charset "utf-8";
/* CSS Document */
#h{width:100px;height:100px}
#b={float:right}
{ backgound size:1000px 1000px}
#view{width:400px; height:400px; float:right}
#culture{width:400px; height:300px; float:right}

